<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<p th:text="'Id : '+${id}"></p>
<p th:text="'Name : '+${name}"></p>
<p th:text="'UserName : '+${userName}"></p>
<p th:text="'Date of Birth : '+${doB}"></p>
<p th:text="'Contact Number : '+${contact}"></p>
<script th:inline="javascript">
    function closeit()
    {
        window.close();
    }
</script>
<button onclick="closeit()">Exit</button>
</body>

</html>